---
pageable: false
---
<% wrap_layout :layout do %>
  <article>
    <header>
      <time datetime="<%= current_article.date.strftime('%Y-%m-%dT%H:%M:%S') %>"><%= current_article.date.strftime('%b %e %Y') %></time>
      <h1><%= current_article.title %></h1>
    </header>
    <%= yield %>
    <footer>
      <ul class="tag-list">
        <% current_article.tags.each do |tag| %>
          <li><%= link_to tag, tag_path(tag) %></li>
        <% end %>
      </ul>
    </footer>
  </article>
<% end %>

<footer class="disqus">
  <%= disqus %>
</footer>
